ul.app--user--list
    for friend in friendsList
        li
            .circle--fluid
                .circle--fluid--cell.circle--fluid--primary
                    a.app--tweet--author
                        .app--avatar(style=`background-image: url(${friend.profile_image_url})`)
                            img(src='images/f-spore.png')
                        h4 #{friend.name}
                        p @#{friend.screen_name}
                .circle--fluid--cell
                    if friend.following
                        a.button.button-text Unfollow
                    else
                        a.button Follow