doctype html
html(lang='en')
  head
    //
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(charset='utf-8')
    title Twitter Client
    meta(name='description', content='')
    meta(name='author', content='')
    //
      Mobile Specific Metas
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      FONTS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
    //
      CSS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='stylesheet', href='css/global.css')
    style.
        .circle--inline .sign-out {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        }
        .circle--inline .sign-out a {
            color: #000000;
            margin: 8px;
        }
        .error-body {
            padding-top: 0;
            
        }

        .error-div {
            align-items: center;
            background: #cb2e5b;
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center; 
            width: 100%;
        }

        .error-link-back {
            color: #ffffff;
            transition: 0.4s;
        }

        .error-link-back:hover {
            color: #eaea39;
        }

        .error-text {
            color: #ffffff;
            text-align: center;
            padding: 0 16px;
        }
        .error-img {
            border-radius: 100%;
            display: inline-block;
            margin: 32px 0 16px;
        }
  block content